* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* background: linear-gradient(to right, #f12711, #f5af19); */
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
}

.calculator {
  width: 470px;
  height: auto;
  background: rgb(255, 255, 255); 
  margin: 50px auto;
  border: solid darkgray 1px;
  border-radius: 20px;
  padding: 10px;
  box-shadow: rgba(16, 34, 42, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.display {
  color: darkgrey;
  font-size: 70px;
  text-align: end;
  padding: 20px;
  word-wrap: break-word;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
}
img{
  width: 124px;
  position: absolute;
  top: 188px auto;
  left: 67px auto;
  opacity: .7;
}


.button {
  border: none;
  color: white;
  border-radius: 50px;
  padding: 28px 30px;
  width: 22%;
  margin: 6px 6px;
  font-size: 40px;
  background-color: rgba(128, 128, 128, 0.372);
}
.button:hover{
  filter: brightness(120%);
}
.button:active{
  filter: brightness(90%);
}
.zero-btn {
  padding: 30px 190px 26px 20px;
}

.btn-orange {
  background-color: orange;
}

.btn-grey {
  background-color: grey;
  z-index: 11;
}
